body{
	background-color: #fd79a8;
}
.main-section{
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}
.modal-content{
	background-color: white;
	padding: 0 18px;
	border-style: none;
}
.user-img{
	margin-top: -65px;
	margin-bottom: 30px;
}
.fa-user-circle{
	background-color: #fd79a8;
	color: white;
	border-radius: 50%;
	border: 0px;
}
.form-group{
	margin-bottom: 25px;
}
.form-group input{
	border-color: #fd79a8;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
}
.form-group select{
	border-color: #fd79a8;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
}
.forgot{
	margin-top: -15px;
}
.btn{
	background-color: #fd79a8;
	color: white;
}
.btn:hover{
	background-color: #e84393;
}
.user-judul{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #e84393;
}
.main-section-2{
	margin: 0 auto;
	margin-top: 30px;
	padding: 0;
}
.modal-content-2{
	background-color: white;
	padding: 0 18px;
	border-style: none;
	border-radius: 10px;
}















